body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    background-color: lightsalmon;
    font-weight: bold;

    height: 50px;
    display: flex;
    align-items: center;
}

header {
    justify-content: center;
}

main {
    background-color: lightyellow;
    color: black;
    flex-grow: 1;
}
